<div class="resume">
    <div class="personalInfo">
      <h1>Akram Alam</h1>
      <address>Chapel Gate Lane<br>Baltimore MD, (443) 694-3459<br>akramalam0920&#64;gmail.com</address>
    </div>

    <div class="summary">
      <h2>Summary</h2>
      <p>
        Motivated and adaptable professional with a background in technical support, customer service, and software engineering. 
        Known for strong communication, attention to detail, and the ability to learn quickly in fast-paced environments. 
        Actively seeking opportunities as a Software Engineer or Test Engineer.     
      </p>
    </div>
        <div class="education">
      <h2>Education</h2>
      <p>Western Governors University <span class="educationDates">01/2024 - 05/2028</span><br>
        Bachelor of Science in Software Engineering
      </p>

    </div>
       
    <div class="experience">
      <h2>Experience</h2>
      <p>Dobbs Defense Solutions, Technical Support Representative II <span class="employmentDates">01/2024 - 05/01/2025</span></p>
      <ul>
        <li>Provide IT support for borrowers on SBA platforms (MySBA Loan Portal, VetCert, PPP, RRF)
            by assisting with account reactivation, password resets, registration, and lender recertification.
        </li>
        <li>Communicate effectively with borrowers, lenders, SBA employees, and contractors 
            to resolve inquiries, ensuring a high standard of customer service.
        </li>
        <li>Utilized Microsoft Office Suite to collaborate with team members, managers, 
            and team leads to improve call handling and provide technical support solutions.
        </li>
        <li>Maintained a consistent call quality and customer experience score of 100%, 
            receiving multiple performance recognitions.
        </li>
      </ul>
    </div>
  </div>